
<div class="c-intro-section u-space--quad--left">
  {% if post.image %}
    <div class="c-intro-content u-padding--double--top u-padding--quad--bottom" bp="grid">
      <div class="u-padding--double--top" bp="5@md">
        <h2 class="c-intro-heading u-padding--half--bottom o-heading__secondary--l">{{ post.heading }}</h2>
        <p class="u-padding--and-half--bottom">{{ post.description }}</p>
        {% if post.cta_button %}
          <a href="{{ post.button.url }}" class="o-button{{ ' ' ~ button.class }}" target="{{ cta.target ? button.target : '_self' }}">{{ post.cta_button }}</a>
        {% endif %}
        {% if post.button %}
          <a href="{{ post.button.url }}" class="o-button--arrow{{ ' ' ~ button.class }}" target="{{ cta.target ? button.target : '_self' }}">{{ post.button }}{% include "@atoms/images/image/arrow.twig" %}</a>
        {% endif %}
      </div>
      <div class="c-intro-image u-padding--quad--left" bp="6@md">
       <img src="{{ Image(post.image).src }}" />
      </div>
    </div>
  {% else %}
    <div class="c-intro-content__centered u-padding--double--top u-padding--double--bottom">
      <h2 class="o-heading__secondary--l u-padding--and-half--bottom">{{ post.heading }}</h2>
      <p class="">{{ post.description }}</p>
    </div>
  {% endif %} 
</div>


